.img1
{
    padding-left: 7px;
    padding-top: 8px;
    height: 824px;
    width: 515px;
    float: left;
}

.h1
{
    height: 48px;
    width: 675px;
    font-size: 36px;
    position: absolute;
    margin-left: 652px; 
    margin-top: 140px;
}

.p1
{
    color: #6F7CB2;
    height: 202px;
    width: 675px;
    font-size: 16px;
    position: absolute;
    margin-left: 652px; 
    margin-top: 140px;
    padding-top: 64px;
}

.logo1
{
    position: absolute;
    margin-top: 402px;
    margin-left: 640px;
    height: 121px;
    width: 325px;

}
.img2
{
    margin-top: -5px;
    height: 36px;
    width: 325px;
}

.h2
{
    margin-top: -5px;
    font-size: 16px;
    width: 325px;
}

.para2
{
    margin-top: -11px;
    font-size: 12px;
    width: 325px;
}

.logo2
{
    position: absolute;
    margin-top: 402px;
    margin-left: 990px;
    height: 121px;
    width: 325px;

}
.img3
{
    margin-top: -5px;
    height: 36px;
    width: 325px;
}

.h3
{
    margin-top: -5px;
    font-size: 16px;
    width: 325px;
}

.para3
{
    margin-top: -11px;
    font-size: 12px;
    width: 325px;
}

.logo3
{
    position: absolute;
    margin-top: 563px;
    margin-left: 640px;
    height: 121px;
    width: 325px;

}
.img4
{
    margin-top: -5px;
    height: 36px;
    width: 325px;
}

.h4
{
    margin-top: -5px;
    font-size: 16px;
    width: 325px;
}

.para4
{
    margin-top: -11px;
    font-size: 12px;
    width: 325px;
}

.logo4
{
    position: absolute;
    margin-top: 563px;
    margin-left: 990px;
    height: 121px;
    width: 325px;

}
.img5
{
    margin-top: -5px;
    height: 36px;
    width: 325px;
}

.h5
{
    margin-top: -5px;
    font-size: 16px;
    width: 325px;
}

.para5
{
    margin-top: -11px;
    font-size: 12px;
    width: 325px;
}


